{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 {% if request.user.is_authenticated %}
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
   </ul>
  </div>

  <div class="col-sm-9 offset-sm-1">
   <div class="row">

     {% for i in add %}
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
    <h1>address:{{forloop.counter}}</h1>
       <p>{{i.name}}</p>
       <p>{{i.city}}</p>
       <p>{{i.locality}}</p>
       <p>{{i.zipcode}}</p>
       <p>{{i.state}}</p>
      </div>
     </div>
    </div>
    {% endfor %}
    

   </div>
  </div>
  {% endif %}
 </div>
</div>
{% endblock main-content %}